{% extends 'base.html' %}

{% block title %}
    landing page
{% endblock title %}
    
{% block content %}
    {% if name == "Crist" %}
        <h1>Hola mundo {{name}}!</h1>
    {% elif  name == "Alem" %}
        <h1>Hola {{name}}, como estas bro?</h1>
    {% else %}
        <h1>hola, mucho gusto</h1>
    {% endif %}
        
    <h2>Nombre: {{ name | title }}</h2>
    <p>Edad: {{ age }}</p>
    <p>Fecha: {{ today | date:"d/m/Y" }}</p>

    <p>Stack de tecnologias: </p>
    <ul>
        {% for tool in  stock %}
            <li> <a href="{% url 'stack' tool.id %}">{{tool.name}}</a> </li>
        {% empty %}
            <li>No hay tecnologias disponibles</li>
        {% endfor %}
    </ul>
{% endblock content %}