{% extends 'base.html'%}
{% load static %}

{% block title %}
    quotes page    
{% endblock title %}
{% block page_syles %}
    <link rel="stylesheet" href="{% static 'quotes/quotes_styles.css' %}">
{% endblock page_syles %}
{% block content %}
    {% include './include/partial.html' %}
    <ul>
        
        {% for day in days %}
            <li><a href="{% url 'day-quote' day %}">{{day}}</a></li>
        {% endfor %}
            
    </ul>
    {% include './include/endpartial.html' with days=days name="Crist"%}
{% endblock content %}